# Auto detect text files and perform LF normalization
* text=auto
* .sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.bin binary
*.mov binary

*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
*.exe binary
